extends ../layout 

block content
    a(href = '/bicicletas') Volver
    br 
    br
    br

    h1 Actualizando Bicicleta

    br 
    br

    form(action=`/bicicletas/${bici.id}/update` method='post')
        .form-group
            label(for='color') Color 
            input#color.form-control(type='text' name='color' value= bici.color class=errors.color ? 'is-invalid' : '')
            if errors.color
                small#colorHelp.text-danger
                = errors.color.message  
            
            br

            label(for='modelo') Modelo 
            input#modelo.form-control(type='text' name='modelo' value= bici.modelo class=errors.modelo ? 'is-invalid' : '')
            if errors.modelo
                small#modeloHelp.text-danger
                = errors.modelo.message

            br

            label(for='lat') Latitud 
            input#lat.form-control(type='text' name='lat' value= bici.ubicacion[0] class=errors.lat ? 'is-invalid' : '')
            if errors.lat
                small#latHelp.text-danger
                = errors.lat.message

            br

            label(for='lng') Longitud 
            input#lng.form-control(type='text' name='lng' value= bici.ubicacion[1] class=errors.lng ? 'is-invalid' : '')
            if errors.lng
                small#lngHelp.text-danger
                = errors.lng.message
    
        br
        br
        input.btn.btn-primary(type='submit' value='OK')
        //- label(form='id') ID 
        //- input#id(type='text' name='id' value=bicicleta.id)
        //- br
        //- label(form='color') Color 
        //- input#color(type='text' name='color' value=bicicleta.color)
        //- br
        //- label(form='modelo') Modelo 
        //- input#modelo(type='text' name='modelo' value=bicicleta.modelo)
        //- br
        //- label(form='lat') Latitud 
        //- input#lat(type='text' name='lat' value=bicicleta.ubicacion[0])
        //- br
        //- label(form='lng') Longitud 
        //- input#lng(type='text' name='lng' value=bicicleta.ubicacion[1])
        //- br
        //- br
        //- input.btn(type='submit' value='OK')